<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LKM.My.MySettings.ConnectionString" connectionString="Dsn=myodbc"
            providerName="System.Data.Odbc" />
        <add name="LKM.My.MySettings.mfsConnectionString" connectionString="server=localhost;user id=root;database=mfs"
            providerName="MySql.Data.MySqlClient" />
        <add name="LKM.My.MySettings.ConnectionString1" connectionString="Dsn=mfs;uid=root;pwd=ptmso"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>